@model List<SignalRWebUI.Dtos.TestimonialDtos.ResultTestimonialDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int counter = 1;
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Referans İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Referans Listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Referans ile ilgili işlemleri aşağıdan gerçekleştirebilirsiniz.
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Referans İsim</th>
                                    <th scope="col">Referans Ünvan</th>
                                    <th scope="col">Referans Görsel</th>
                                    <th scope="col">Durumu</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td>@counter</td>
                                        <td>@item.Name</td>
                                        <td>@item.Title</td>
                                        <td><img src="@item.ImageUrl" style="height:100px; width:100px;" /></td>
                                        <td>@item.Status</td>
                                        <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialID" class="btn btn-outline-danger">Sil</a></td>
                                        <td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialID" class="btn btn-outline-success">Güncelle</a></td>
                                    </tr>
                                    counter++;
                                }
                            </tbody>
                        </table>
                        <a href="/Testimonial/CreateTestimonial" class="btn btn-outline-primary">Yeni Referans Girişi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

